<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Notification Test Page</title>
</head>
<body>
<input type="text" id="id"/>
<button type="button" onclick="login()">로그인</button>

<div id="messages"></div>
</body>
</html>
<script type="text/javaScript">


    function login() {
        const id = document.getElementById('id').value;

        const eventSource = new EventSource("/subscribe/" + id);
        eventSource.onmessage = event => {
            const p = document.createElement("p")
            console.log(event.data);
            p.innerText = event.data

            document.getElementById("messages").appendChild(p)
        }
    }
</script>